body {background-color:#efd;
  font-family:"optima","Lucida Grande","Helvetica","Arial",sans-serif; }

main {width:40em; background-color:#fff; color:#6a0; font-size:110%;
   margin:2em auto; padding:3em;
   border-right:3px solid #cf6;
   border-bottom:3px solid #cf6; }

h1 {font-weight:400; font-size:250%; }

a {text-decoration:none; color:#000; font-size:110%;
    padding:0 0.2em; border-radius:8px; }
a:hover {background-color:#6f0; }

a.category {font-weight:bold; font-size:120%; line-height:150%; }
div.category {padding-bottom:10px; }

div.idea,div.item,div.item2,div.item3 {padding-left:1.7em; }
