main{
   width: 36em;
   background-color:#fff; color:#000;
   margin:2em auto; padding:3em; width:40em;
   border-right:3px solid #cf6; 
   border-bottom:3px solid #cf6; 
}
body { 
  background-color:#efd; f
  font-family: "optima", "Lucida Grande", "Helvetica", "Arial",  sans-serif;
  font-size:100%; 
}
h1 { 
  font-weight:100; 
  margin:0;
  color:#790; 
  font-size:300%;
  text-align:center;  
}
a, u {
   text-decoration: none;
   color: #000; 
   padding:0 0.2em; 
}
a:hover { 
   background-color: #cf6; 
}
a.toplevel {
  display: none;
}
.toplevel-description {
  display: none;
}
div.category {
  display: list-item;          /* This has to be "list-item"                                               */
  list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
  padding-left: 2em;
  padding-top:10px;
  padding-bottom:10px;
}
a.category {
  font-weight: bold; 
  font-size: 18px;
}
div.idea {
  padding-left: 2em;
}
a.idea {
  font-size: 14px;
}
.idea-description {
  font-size:  14px;
  color: green;
}
div.item {
  padding-left: 2em;
}
a.item {
  font-size: 12px;
}
.item-description {
  font-size:  12px;
  color: green;
}
div.item2 {
  padding-left: 2em;
}
a.item2 {
  font-size: 12px;
}
.item2-description {
  font-size:  12px;
  color: green;
}
div.item3 {
  padding-left: 2em;
}
a.item3 {
  font-size: 12px;
}
.item3-description {
  font-size:  12px;
  color: green;
}

